@model string
@{
    ViewBag.Title = "Connor";
}

<h2>Connor</h2>

<style>
</style>

<div>
    <form action="SayCent" method="post">
        <input name="input" />
        <input name="convert" tpye="submit" />
    </form>
    <p>
        @Model
    </p>
</div>

